<% content_for :body_content_left do %>
  <ul id="variants">
    <% @variants.each do |variant| %>
      <li>
        <%= link_to variant.name, variant_path(variant) %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render :partial => "/shared/content_page" %>
